nav {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto !important;
}

.inline {
    display: inline;
}

.page-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.comments {
    margin: 20px 0;
}

.reply-body {
    margin-top: 10px;
}

.sidebar {
    padding-left: 30px;

}

footer {
    margin-top: 30px;
    padding: 10px 0 40px;
    color: #999;
    border-top: 1px solid #e5e5e5;
}

.page-footer {
    padding-top: 40px;
}

.tip { /* from github.com */
    color: black !important;
    position: relative;
    padding: 40px;
    text-align: center;
    background-color: #fafbfc;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    box-shadow: inset 0 0 10px rgba(27, 31, 35, 0.05);
}


/*为了让页脚沉底*/
body{
    display:flex;
    flex-flow:column;
    min-height:100vh;
}
main{
    flex:1;
    display:flex;
    flex-flow:column;
}
.main_content{
    flex:1;
}


.myeditor{
    height:800px;
}


/*设置主页的卡片*/
.article_about{
    box-shadow:0 0 5px 0px grey;
    padding:15px;
    border:1px grey solid;
    border-radius:5px;
    margin-bottom:10px;

}


.article_main{
    border:1px grey solid;
    box-shadow:0 0 5px 1px grey;
}

.share_button{
    position:absolute;
    top:88px;
    right:37px;
}
.nav_list a{
    text-decoration:none;
    line-height:40px;
    color:black;
}

.nav_list a:hover{
    background:	#E6E6FA;
}




.edit_and_delete{
    position:absolute;
    right:85px;
    top:88px;
    z-index:5;
}
