

{% if categories %}
    <div class="card mb-3">
        <div class="card-header">分类</div>
        <ul class="list-group list-group-flush">
            {% for category in categories %}
                <li class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center clear_padding">
                    <span class="category_nav_icon position-absolute"></span>
                    <a class="category_nav_a" href="{{ url_for('blog.show_category_by_name', name=category.name) }}">
                        {{ category.name }}
                    </a>
                    <span class="badge badge-primary badge-pill category_nav_nums"> {{ category.posts|length }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        更改主题
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for theme_name, display_name in config.BLUELOG_THEMES.items() %}
            <a class="dropdown-item"
               href="{{ url_for('blog.change_theme', theme_name=theme_name, next=request.full_path) }}">
                {{ display_name }}</a>
        {% endfor %}
    </div>
</div>
