{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block head %}
    {{ super() }}
    <style></style>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>新建分类</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form method="post" action class="form" role="form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="form-group required">
                    <label for="name" class="form-control-label">分类名</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group d-flex justify-content-between">
                   <input type="submit" class="btn btn-primary btn-md" id="submit" name="submit" value="提交">
                    <div class="d-flex">
                        <input type="text" id="icon_name" name="icon_name"  value="">
                       <a tabindex="0" id="select_icon_btn" class="btn btn-lg btn-secondary" role="button">
                           选择icon
                       </a>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-md-6" id="icon_show" style="display:none;">
            <div class="icon_panel">
                <h3 class="icon_heading">图标</h3>

                <div class="container">
                    <div class="row" >
                        {% for each in icons %}
                            <a class="col-3 d-flex justify-content-center icon_panel_a" href="#" name="{{each}}"><span class="category_nav_icon {{each}}"></span></a>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(function(){
            var style=$("style");
            var length={{ icons|length }};
            if(length==0)return false;
            {% for each in icons %}
                var temp="{{icons[each]|safe}}";
                var result=".{{each}}"+"::"+temp.split("::")[1];
                style.append(result);
            {% endfor %}
        })
    </script>

{% endblock %}