{% from 'bootstrap/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html lang="zh">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>ljpBlog</title>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/%s.min.css' % request.cookies.get('theme', 'superhero')) }}"
              type="text/css">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% endblock head %}
</head>
<body>
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('blog.index') }}">博客</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <a href="{{url_for("blog.index")}}" class="nav-item nav-link nav_index">主页</a>
                    <a class="nav-item nav-link nav_about" href="{{ url_for("blog.about") }}">关于</a>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                新建 <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ url_for('admin.new_post') }}">文章</a>
                                <a class="dropdown-item" href="{{ url_for('admin.new_category') }}">目录</a>
                                <a class="dropdown-item" href="{{ url_for('admin.new_link') }}">链接</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                管理 <span class="caret"></span>
                                {% if unread_comments %}
                                    <span class="badge badge-success">new</span>
                                {% endif %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ url_for('admin.manage_post') }}">文章</a>
                                <a class="dropdown-item" href="{{ url_for('admin.manage_category') }}">目录</a>

                                <a class="dropdown-item" href="{{ url_for('admin.manage_link') }}">链接</a>
                            </div>
                        </li>
                        {{ render_nav_item('admin.settings', '设置') }}
                        <li class="nav-item"><a class="nav-link" href="{{url_for('auth.logout', next=request.full_path)}}">注销</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{url_for('auth.login', next=request.full_path)}}">登录</a></li>
                    {% endif %}
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                更改主题
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for theme_name, display_name in config.BLUELOG_THEMES.items() %}
                                    <a class="dropdown-item"
                                       href="{{ url_for('blog.change_theme', theme_name=theme_name, next=request.full_path) }}">
                                        {{ display_name }}</a>
                                {% endfor %}
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock nav %}

<main class="container" style="margin-top:5rem">
    {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }}" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message[1] }}
        </div>
    {% endfor %}
    <section class="main_content">
    {% block content %}{% endblock content %}
    </section>
    {% block footer %}
        <footer class="footer">
            <p class="float-left">
                <small> &copy; 2021 <a href="http://www.cumt-ljp.ltd">ljp</a>
<!--                    <a href="https://github.com/greyli/bluelog" title="Fork me on GitHub">GitHub</a> - -->
<!--                    <a href="http://helloflask.com" title="A HelloFlask project">HelloFlask</a>-->
                </small>
            </p>
            {% if not current_user.is_authenticated %}
                <a class="float-right" href="{{ url_for("auth.register") }}">注册</a>
            {% endif %}
        </footer>
    {% endblock footer %}
</main>

{% block scripts %}
<!--    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
{% endblock %}
</body>
</html>